@import "../styles.css";

.contact{
    width: 100%;
    margin: 4rem 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    max-width: 400px;
}

.form-input {
    border: none;
    padding: 10px;
    font-size: 16px;
    background-color: var(--dark-muted-gray);
    transition: background-color 0.2s ease;
}

.form-input:hover{
    background-color: #111111;
}

.message-input {
    height: 150px;
}

.form-submit {
    background-color: var(--light-gray);
    color: var(--dark-muted-gray);
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}


.form-submit:hover {
    background-color: #bdbdbd;
}

@media screen and (max-width: 768px) {

    form {
        width: 100%;
    }
    
}